body{
    background-color: rgb(107,1,41,255);
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
    font-size: 20px;
}
h1{
    color: rgb(174,26,84,255);
}
h2{
    color: rgb(158,0,61,255);
}
p{
    color: rgb(235,1,90,255);
    text-align: justify;
}