@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&family=Oswald:wght@200..700&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&display=swap');

@import url('https://fonts.googleapis.com/css2?family=Kanit:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&family=Roboto:ital,wght@0,100;0,300;0,400;0,500;0,700;0,900;1,100;1,300;1,400;1,500;1,700;1,900&family=Russo+One&family=Ubuntu:ital,wght@0,300;0,400;0,500;0,700;1,300;1,400;1,500;1,700&display=swap');


:root {
 --cor01: #DB613D;
 --cor02: #DC7D3D;
 --cor03: #DB983D;
 --cor04: #221D1A;
}

* {
    margin: 0px;
    padding: 0px;
}


body {
    font-family: 'Kanit';
    background-color: var(--cor04);
    color: black;
    text-align: center;
}

header {
    min-width: 150px;
    background-color: var(--cor02);
    padding-top: 40px;
    padding-bottom: 270px;
}

header > h2 {
    font-size: 2.5em;
    margin: 0px 40px 40px 40px;
    color: black;
    font-family: 'Russo One';
    font-weight: normal;
}

header > h1 {
    font-size: 4em;
    margin: 0px 40px 40px 40px;
    color: white;
    font-family: 'Russo One';
    font-weight: normal;
}

header img {
    width: 500px;
    margin: auto;
    margin-bottom: 20px;
    max-width: 900px;
    transition-duration: 0.5s;
    padding-bottom: 120px;
    padding-top: 20px;
}

header img:hover {
    width: 700px;
    max-width: 900px;
}

footer {
    background-color: #141926;
    padding: 5px;
    color: white;
    text-align: center;
}

main {
    min-width: 500px;
    max-width: 1500px;
    margin: auto;
    background-color: var(--cor02);
}

main h1 {
    font-family: 'Russo One';
}

article  ul  img {
    max-width: 300px;
    margin: auto;
    margin-bottom: -24px;
}

article h2 {
    font-family: 'Russo One';
    font-size: 2.5em;
    color: white;
}

article.sobren贸s h2 {
    color: black;

}

article.sobren贸s p {
    color: black;
    font-size: 1.8em;
}

article.sobren贸s h2 {
    padding: 20px 0 20px 0;
}

article.sobren贸s {
    margin: auto;
    height: 583px;
}

article.quemsomos p {
    text-align: center;
    color: white;
    font-size: 3.7em;
    padding: 75px 0 75px 0;
}

article.quemsomos{
    background-color: var(--cor03);
    transition-duration: 0.5s;
    margin: auto;
}

article.quemsomos:hover {
    background-color: var(--cor01);
}

article p {
    text-align: justify;
    padding: 0 100px 0 100px;
    text-indent: 70px;
}

article.jogos {
    background-color: lightgray;
}

article.jogos h1 {
    text-align: left;
    color: black;
}

h1#headerjogos{
    font-size: 3em;
}
ul {
    list-style-position: inside;
    list-style-type: none;
    text-align: left;
    padding-left: 50px;
    padding-right: -1000px;
    columns: 4;
    max-width: 1500px;
    min-width: 1000px;
    font-size: 2em;
}

ul > li {
    width: 500px;
    margin: auto;
}

